<h1>CORREO NUEVO</h1>

<form [formGroup]="correoNuevo" (ngSubmit)="onSubmit()">
	<table>
		<tr>
			<td  class="td1" >
				<label>Asunto: &nbsp;&nbsp;</label>
			</td>
			<td>   
				<input type="text" formControlName="titulo" />
				
			</td> 
		</tr>
		<tr>
			<td class="td1">
				<label>Cuerpo: &nbsp;&nbsp;</label>
			</td>
			<td>
				<input type="text" formControlName="cuerpo" />
			
			</td>
		</tr>
	
		<tr>
			<td  class="td1">
				<label>Destinatario:</label>
			</td>
			<td>
				<input type="text" formControlName="destinatario" />
				
			</td>
		</tr>
		
		<tr>
			<td>
				
			</td>
			<td> 
          <button class="boton1">Enviar</button>
				<button class="boton2" type="reset" (click)="onReset()">Cancelar</button>
			</td> 
		</tr>
	</table>
</form>

<div *ngIf="enviado && formulario.titulo.errors">
    <div *ngIf="formulario.titulo.errors.required">El <b>Asunto</b> no puede estar vacio</div>
    <div *ngIf="formulario.titulo.errors.minlength">El <b>Asunto</b> deber contener más de 3 carácteres</div>
</div>

<div *ngIf="enviado && formulario.cuerpo.errors">
   <div *ngIf="formulario.cuerpo.errors.required"> El <b>Cuerpo</b> no puede estar vacio</div>
    <div *ngIf="formulario.cuerpo.errors.minlength">El <b>Cuerpo</b> deber contener más de 10 carácteres</div>
</div>

<div *ngIf="enviado && formulario.destinatario.errors">
    <div *ngIf="formulario.destinatario.errors.required">El <b>Destinatario</b> no puede estar vacio</div>
    <div *ngIf="formulario.destinatario.errors.email">El <b>Destinatario</b> debe ser un email válido</div>
</div>









